@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Patron

<h2>Checkouts</h2>
<hr />

<p>@Model.Name</p>

<p>@Html.ActionLink("Books index", "Index", "Books")</p>
<p>@Html.ActionLink("Authors index", "Index", "Authors")</p> 