@{
  Layout = "_Layout";
}

<h1>__ Library</h1>

<p>@Html.ActionLink("Book index", "Index", "Books")</p>

<p>@Html.ActionLink("Author index", "Index", "Authors")</p>

<p>@Html.ActionLink("Copy index", "Index", "Copies")</p>